# cache files
**/__pycache__
.pytest_cache
nfl_analytics/_datastore_path.txt

# data files
dstore

# test files
/test*.*

# Python virtual environment
env

# LaTeX compilation files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out